<!-- Generated template for the FormularioComponent component -->
<div>
  <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Descrição" formControlName="assunto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="tema" formControlName="tema"></ion-input>
      </ion-item>
      
        <ion-item>
          <ion-input type="text" placeholder="dica 01" formControlName="dica1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 02" formControlName="dica2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 03" formControlName="dica3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 04" formControlName="dica4"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 05" formControlName="dica5"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 06" formControlName="dica6"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 07" formControlName="dica7"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 08" formControlName="dica8"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 09" formControlName="dica9"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="dica 10" formControlName="dica10"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Resposta" formControlName="resposta_correta"></ion-input>
        </ion-item>

    </ion-list>
    <button type="submit" ion-button block>Salvar</button>
  </form>
</div>


