page-assunto {
    .scroll-content {
 
        background: url(../assets/imgs/BG_360_640.png);
        background-repeat: repeat-y repeat-x;
      }


      

#titulo {
    text-align: center;
    display: block;
    font-size: 2rem;
    font-weight: bold;
  }
}
