// @font-face {
//     font-family: 'LLPIXEL3';
//     src: url('../assets/fonts/myfont/LLPIXEL3.ttf');
// }

// @font-face {
//     font-family: 'pixelart';
//     src: url('../assets/fonts/myfont/pixelart.ttf');
// }


// @font-face {
//     font-family: 'gameplay';
//     src: url('../assets/fonts/myfont/Gameplay.ttf');
// }

@font-face {
    font-family: 'press_start';
    src: url('../assets/fonts/myfont/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'luck';
    src: url('../assets/fonts/myfont/LuckiestGuy-Regular.ttf');
}